body{

    margin:0;

    width:100%;
    height:100dvh;

    overflow:hidden;

    display:flex;

    justify-content:center;

    align-items:center;

}


/*==================
TITLE
==================*/

#titleScreen{

    width:100%;
    height:100dvh;

    display:flex;
    flex-direction:column;

    justify-content:center;
    align-items:center;

    box-sizing:border-box;

    padding:20px;

}


#titleScreen h1{

    font-size:clamp(48px,12vw,96px);

    color:white;

    margin:0;

    letter-spacing:4px;

    text-shadow:
        0 0 8px #ffffff,
        0 0 18px #00bfff,
        0 0 35px #00bfff,
        0 0 55px #00bfff;

}


#titleScreen p{

    margin:
    10px 0
    clamp(20px,5vh,50px);

    font-size:clamp(16px,4vw,28px);

    color:white;

    text-shadow:0 0 8px black;

}


/*==================
BUTTON
==================*/

#titleScreen button{

    width:min(300px,75vw);

    height:clamp(55px,10vw,72px);

    margin:12px;

    border:none;

    border-radius:40px;

    font-size:clamp(20px,5vw,28px);

    font-weight:bold;

    cursor:pointer;

    transition:.2s;

}


#titleScreen button:hover{

    transform:scale(1.06);

}


#normalButton{

    background:#45d36d;

    color:white;

}


#feverButton{

    background:#ff9800;

    color:white;

}


#startButton{

    margin-top:40px;

    background:#ffd400;

    color:#333;

    font-size:clamp(24px,6vw,34px);

    box-shadow:
        0 0 20px gold;

}


.selected{

    outline:5px solid yellow;

    transform:scale(1.05);

}


/*==================
GAME
==================*/

#gameScreen{

    display:none;

    width:100%;
    height:100dvh;

    justify-content:center;
    align-items:center;

}

/*==================
 RANKING
==================*/

#rankingBox{

    margin-top:30px;

    text-align:center;

    color:#333333;

}


#rankingBox h2{

    color:#ffd700;

    font-size:28px;

    text-shadow:
        2px 2px 0 #ffffff;

}


#rankingList{

    display:inline-block;

    text-align:left;

    margin-top:10px;

    padding-left:40px;

    font-size:22px;

    font-weight:bold;

    color:#222222;

}


#rankingList li{

    margin-bottom:8px;

}

/* 1位演出 */
.firstRank{

    color:#ffd700;

    transform-origin:center;

    animation:
        rankWave 1.2s infinite ease-in-out;

    text-shadow:
        0 0 8px #ffd700;

}


@keyframes rankWave{

    0%{

        transform:translateY(0);

    }

    50%{

        transform:translateY(-6px);

    }

    100%{

        transform:translateY(0);

    }

}
